name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted]

    defaults:
      run:
        working-directory: /var/www/webku
    steps:
      - name: Pull latest changes
        run: |
          git reset --hard
          git pull origin main

      - name: Install dependencies
        run: npm install

      - name: Build the app
        run: npm run build

      - name: Restart with PM2
        run: pm2 restart webk
